@model IEnumerable<Expenses_Management_System.Models.user_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>User Details</h2>
@*@Html.Raw(TempData["InsertMsg"])
@Html.Raw(TempData["UpdateMsg"])
@Html.Raw(TempData["DeleteMsg"])*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_id)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.created_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>*@
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_id)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.created_on)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.user_id })
        </td>
    </tr>
}

</table>
